<%#= render '/layouts/header' %>
<div id="content">
	<div class="row">
		<div class="col-md-12">
			<%= image_tag 'blogging-stats-featured.png',class: 'w-100'%>
		</div>
	</div>
</div>
<%#= render '/layouts/footer' %>